[submodule "stp"]
        path = stp
        url = https://github.com/eurecom-s3/news2e-stp
[submodule "klee"]
        path = klee
        url = https://github.com/eurecom-s3/news2e-klee
[submodule "qemu"]
        path = qemu
        url = https://github.com/eurecom-s3/news2e-qemu
[submodule "test"]
        path = test
        url = https://github.com/eurecom-s3/news2e-test
[submodule "minisat"]
	    path = minisat
	    url = https://github.com/eurecom-s3/news2e-minisat
